

html { 
  height: 100%; 
  background: 
  linear-gradient(217deg, rgb(165, 233, 255), rgba(173, 216, 230, 0) 70.71%),
  linear-gradient(127deg, rgba(0, 149, 255, 0.8), rgba(135, 206, 235, 0) 70.71%),
  linear-gradient(336deg, rgba(0, 60, 255, 0.8), rgba(70, 130, 180, 0) 70.71%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70.71%);  
  color: #FFF; 
}
body {
  font-family: 'melodrame', serif, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  min-height:100%;
}

button {
  font-family: 'melodrame', serif, sans-serif;
  font-size: 2em;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: transparent;
  border-radius: 100%;
  border-color: transparent;
}

.loading {
  font-family: 'melodrame', serif, sans-serif;
  text-shadow: 0px 0px 10px  rgba(0,0,0,.3);
  justify-content: center;
}

#loading {
  margin: 80px;
}
   
p {
  font-size: 5em;
}

p2 {
  font-size: 4em;
}


@font-face {
  font-family: "melodrame";
  src: url(../fonts/melodrame.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: large;
}